/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

 .current_location_btn{
 	    text-align: center;
    display: block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 8px 0px;
    width: 250px;
    border-radius: 6px;
    overflow: hidden;
    background: #ff8000;
    margin: 10px auto;
 }
  .current_location_btn:active,.current_location_btn:focus{
    background: #ff8000;
  }

 .current_location_btn:hover{
    background: #fff;
    border: 1px solid #ff8000;
}

 /* effect-3 styles */
.effect.effect-3 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-3:before {
  content: "\f041";
  font-family: FontAwesome;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  color: #ff8000;
}
.effect.effect-3:hover {
  text-indent: -9999px;
}
.effect.effect-3:hover:before {
  bottom: 0;
  text-indent: 0;
}
